* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

page {
  display: flex;
  flex-wrap: wrap;
}

.name{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
            }

.section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  background-color: white;
}

.fotosito {
  background-color: blue;
  height: 150px;
  width: 150px;
  display: block;
}

.pages {
  background-color: white;
  height: 150px;
  width: 150px;
  margin-left: 20px;
}

.about-title {
  background-color: white;
}

.text {
  background-color: white;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}

.content div,
.content1 div,
.content2 div {
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: white; /* Red */
  }
  body {font-family: 'Cormorant Garamond', serif; font-color: black;  font-size: 16px;}
  .text{
        text-align: center;
        margin: 10px 15px 50px 15px;
    }
}

/* Tablet and Desktop Styles (no change at 960) */
@media only screen and (min-width: 401px) and (max-width: 600px) {
  body {
    background-color: white; /* Yellow */
    }
  body {font-family: 'Cormorant Garamond', serif; font-color: black;  font-size: 16px;}

  .content,
  .pages,
  .fotosito {
    }

  .links {
    background-color: white;
    margin: 20px 50px 0px 50px;
    text-align: left;
    max-width: 500px;
  }

  .text{
        text-align: justify;
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 10px;
        margin-right: 50px;
        max-width: 500px;
    }

}

/* Tablet and Desktop Styles (no change at 960) setting this for automargins */
@media only screen and (min-width: 600px) {
  body {
    background-color: white; /* Yellow */
    }
  body {font-family: 'Cormorant Garamond', serif; font-color: black;  font-size: 16px;}

  .content,
  .pages,
  .fotosito {
    }

  .links {
    background-color: white;
    margin: 20px 50px 0px 50px;
    text-align: left;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    max-width: 500px;
  }

  .text{
        text-align: justify;
        margin-top: 10px;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        max-width: 500px;
    }

}
